@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #5b21b6, #1e40af);
  color: #fff;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button {
  border: 1px solid #000;
  background: transparent;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.items-container a {
  color: #64748b;
  text-decoration: none;
}

.item {
  padding: 6px 10px;
  min-width: 30%;
  min-height: 60px;
  margin: 10px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.genre {
  color: #64748b;
  font-size: 12px;
}

.prefecture {
  color: #64748b;
  font-size: 12px;
}

.score {
  margin: 2px 0px 0px 0px;
  color: #64748b;
  font-size: 10px;
}

.review_cnt {
  color: #64748b;
  font-size: 10px;
}

.budget {
  color: #64748b;
  font-size: 10px;
}

.active {
  background-color: #1e293b;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  max-width: 320px;
  padding: 36px 32px;
  background: #cdd9ed;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(18, 22, 33, 0.12);
}

.sortFilter {
  width: 20%;
  max-width: 200px;
}

.prefectureFilter {
  width: 20%;
  max-width: 200px;
}

.genreFilter {
  width: 20%;
  max-width: 200px;
}

.slider {
  width: 100%;
  height: 2px;
  background-color: #1e293b;
  margin-top: 30px;
}

.slider .thumb {
  width: 23px;
  height: 23px;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #275efe;
  top: -12px;
}

.track-1 {
  background-color: #275efe;
}
